@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scroll {
		-ms-overflow-style: none;
		scrollbar-width: none;
		overflow-y: scroll;
	}
	.no-scroll::-webkit-scrollbar {
		display: none;
	}
}

body {
	@apply bg-slate-100;
}
